<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Product</title>
</head>
<body>
<h2>Add New Product</h2>
<form action="#" th:action="@{/product/save}" th:object="${product}" method="post">
  <p>Category: <input type="text" th:field="*{category}" /></p>
  <p>Price: <input type="text" th:field="*{price}" /></p>
  <p>Brand: <input type="text" th:field="*{brand}" /></p>
  <p>Color: <input type="text" th:field="*{color}" /></p>
  <p><button type="submit">Save</button></p>
</form>
</body>
</html>